{% extends 'public/layout.html' %}
{% block title %}
<title>负载列表</title>
{% endblock %}

{% block content %}

      <div class="layui-fluid">
          <div class="layui-card">
              <div class="layui-card-header">{{ project_name }}</div>
              <div class="layui-card-header layuiadmin-card-header-auto">
                <button class="layui-btn layui-btn-normal layuiadmin-btn-project-hosts" data-type="back">返回上一页</button>
              </div>
              <div class="layui-card-body">
                  <div class="layui-tab">
                      <ul class="layui-tab-title">
                          <li class="layui-this">负载详情</li>
                          <li>启动脚本</li>
                      </ul>
                      <div class="layui-tab-content">
                          <div class="layui-tab-item layui-show">
                              <div style="margin: 10px 0">
                                  <button class="layui-btn layuiadmin-btn-project-hosts" data-type="add">添加负载</button>
                              </div>
                              <table id="LAY-app-content-hosts" lay-filter="LAY-app-content-hosts"></table>
                              <script type="text/html" id="layuiadmin-app-cont-project-image">
                                  <a class="layui-btn layui-btn-normal layui-btn-sm" lay-event="start_container"><i class="layui-icon layui-icon-play"></i>启动</a>
                                  <a class="layui-btn layui-bg-orange layui-btn-sm" lay-event="pause_container"><i class="layui-icon layui-icon-pause"></i>暂停</a>
                                  <a class="layui-btn layui-bg-red layui-btn-sm" lay-event="restart_container"><i class="layui-icon layui-icon-refresh-3"></i>重启</a>
                              </script>
                          </div>
                          <div class="layui-tab-item">启动脚本文件</div>
                      </div>
                  <div>
              </div>
          </div>
          <div>
              <input id="select-project-name" type="hidden" value="{{ project_name }}" />
              <input id="select-project-id" type="hidden" value="{{ project_id }}" />
          </div>
      </div>
{% endblock %}

{% block custom_js %}
    <script>
        layui.use(['index', 'element', 'table', 'func'], function(){
            var $ = layui.$
            var func = layui.func
            var table = layui.table
            var element = layui.element

            // 当前项目
            var project_name = $('#select-project-name').val()
            var project_id = $('#select-project-id').val()

            // tableId
            var tableDomId = 'LAY-app-content-hosts'

            table.render({
                elem: '#' + tableDomId
                ,url: layui.setter.apiHost + '/project/host-list?project_id=' + project_id
                ,page: false
                ,height: "600px"
                ,cols: [[
                     {field: 'id', width: 100, title: 'ID'}
                    ,{field: 'real_ip', title: '物理IP', width: 150}
                    ,{field: 'virtual_ip', title: '虚拟IP', width: 150}
                    ,{field: 'status', width: 100, title: '状态', templet: function(d){
                            // 前端新增一个启动中(3)的状态
                            let status_val = ["暂停中", "未启动", "启动中", "已启动", "已删除"]
                            let status_val_class = [
                                "layui-btn-warm",
                                "layui-bg-gray",
                                "layui-btn-normal",
                                "layui-btn-success",
                                "layui-btn-danger"
                            ]
                            return '<button class= "layui-btn layui-btn-xs ' + status_val_class[d.status] + '">' + status_val[d.status] + '</button>'
                        }}
                    ,{title: '进度', templet: function(d){
                        var filter_name = project_name + "_" + d.id
                        return '<div class="layui-progress layui-progress-big" lay-filter="' + filter_name + '">'+
                                    '<div class="layui-progress-bar" lay-percent="0"></div>'+
                                '</div>'

                        }, style: 'padding-top: 15px'}
                    ,{field: 'tag', title: '当前镜像版本', width: 250, templet: function(d){
                            var selectTags = d.select_tags
                            var options = selectTags.reduce(function(pre, item){
                                var status = item == d.tag ? 'selected' : ''
                                return pre + '<option value="'+ item +'" '+ status +'>'+ item +'</option>'
                            }, "")
                            return '<select name="project-image-tag-change" data-hostId="'+ d.id +'" lay-filter="project-image-tag-change">' +
                                    '<option value="">请选择版本</option>' +
                                    options +
                                '</select>'
                        }}
                    ,{title: '操作', width: 350, align: 'center', fixed: 'right', toolbar: '#layuiadmin-app-cont-project-image'}
                ]]
                ,text: {none: '暂无数据'}
                ,done(){
                    {#element.progress('mall-product_1', '70%');#}
                }
            });

            var active = {
                add: function(){
                    layer.open({
                          type: 1
                          ,title: '添加负载'
                          ,content: `
                              <div class="layui-form" lay-filter="layuiadmin-form-project" id="layuiadmin-app-form-host-add" style="padding-top: 30px; text-align: center;">
                                <div class="layui-form-item">
                                  <label class="layui-form-label">项目名</label>
                                  <div class="layui-input-inline">
                                    <input type="text" readonly name="project-name" class="layui-input" value="{{ project_name }}">
                                    <input type="hidden" readonly name="project-id" value="{{ project_id }}">
                                  </div>
                                </div>
                                <div class="layui-form-item">
                                  <label class="layui-form-label">物理IP</label>
                                  <div class="layui-input-inline">
                                    <input type="text" name="real_ip" class="layui-input">
                                  </div>
                                </div>
                                <div class="layui-form-item">
                                  <label class="layui-form-label">虚拟IP</label>
                                  <div class="layui-input-inline">
                                    <input type="text" name="virtual_ip" class="layui-input">
                                  </div>
                                </div>
                              </div>
                          `
                          ,area: ['450px', '300px']
                          ,btn: ['确定', '取消']
                          ,yes: function(index, layero){
                                var addHostForm = layero.contents().find("#layuiadmin-app-form-host-add")
                                var project_id = addHostForm.find('input[name="project-id"]').val()
                                var real_ip = addHostForm.find('input[name="real_ip"]').val()
                                var virtual_ip = addHostForm.find('input[name="virtual_ip"]').val()

                                if(!project_name.replace(/\s/g, '')) return;
                                func.ajaxPost({
                                    url: "/project/host-add",
                                    data: {
                                        project_id,
                                        real_ip,
                                        virtual_ip
                                    },
                                    success: function(data){
                                        table.reload('LAY-app-content-hosts');
                                        layer.close(index);
                                    }
                                })

                          }
                        });
                },
                back: function(){
                    location.href = "/project"
                }
            }
            // 头部按钮操作
            $('.layui-btn.layuiadmin-btn-project-hosts').on('click', function(){
                var type = $(this).data('type');
                active[type] ? active[type].call(this) : '';
            });

            // tag 选择触发器
            layui.form.on('select(project-image-tag-change)', function(data){

                var changeTag = data.value; // 获得被选中的值
                var selectElem = data.elem; // select 原始dom
                // 获取当前表格数据
                var tableData = table.cache[tableDomId]
                // host id
                var hostId = selectElem.getAttribute("data-hostId")
                var lineData = tableData.filter(item => item['id'] == hostId)[0]
                // 相同tag直接返回
                if(changeTag == lineData['tag']) return

                layer.confirm(`确定要更换成 ${changeTag} 这个版本吗?`,
                    {icon: 3, title:'提示'},
                    function ok(index){
                        // 触发更新时间
                        // step-1 暂停机器
                        // step-2 启动新版本
                        // 触发进度条
                        var progress_filter = project_name + "_" + hostId
                        element.progress(progress_filter, '100%')
                        // 提交更换版本事件
                        layer.close(index)
                    },
                    function cancel(index){
                        // 将select 值复原
                        table.reload(tableDomId, {
                            data: tableData.map(item => {
                                if(item.id == hostId){
                                    item.tag = lineData['tag']
                                }
                                return item
                            })
                        })
                        layer.close(index);
                    }
                )


              });

            // 操作按钮
            table.on(`tool(${tableDomId})`, function(obj){
                console.log('obj', obj)
            })
        })



    </script>
{% endblock %}