{% extends 'public/layout.html' %}
{% block title %}
<title>项目列表</title>
{% endblock %}

{% block content %}

  <div class="layui-fluid">
    <div class="layui-card">
      <div class="layui-card-header layuiadmin-card-header-auto">
        <button class="layui-btn layuiadmin-btn-project" data-type="add">添加</button>
      </div>
      <div class="layui-card-body">    
        <table id="LAY-app-content-project" lay-filter="LAY-app-content-project"></table>
        <script type="text/html" id="layuiadmin-app-cont-projectbar">
            <a class="layui-btn layui-btn-normal layui-btn-sm" lay-event="info"><i class="layui-icon layui-icon-about"></i>详情</a>
        </script>
      </div>
    </div>
  </div>

{% endblock %}

{% block custom_js %}
  <script>
  layui.use(['index', 'contlist', 'table', 'func'], function(){
    var table = layui.table;
    var func = layui.func;
    var $ = layui.$;


    table.render({
        elem: '#LAY-app-content-project'
        ,url: layui.setter.apiHost + '/project/list'
        ,page: true
        ,cols: [[
           {field: 'id', width: 150, title: 'ID'}
          ,{field: 'name', title: '项目名', width: 300, edit: 'text'}
          ,{field: 'desc', title: '描述', minWidth: 250, edit: 'text'}
          ,{title: '操作', width: 250, align: 'center', fixed: 'right', toolbar: '#layuiadmin-app-cont-projectbar'}
        ]]
        ,text: {none: '暂无数据'}
    });

    var active = {
      add: function(){
        layer.open({
          type: 1
          ,title: '添加项目'
          ,content: `
              <div class="layui-form" lay-filter="layuiadmin-form-project" id="layuiadmin-app-form-project" style="padding-top: 30px; text-align: center;">
                <div class="layui-form-item">
                  <label class="layui-form-label">项目名</label>
                  <div class="layui-input-inline">
                    <input type="text" name="project-name" lay-verify="required" placeholder="请输入..." autocomplete="off" class="layui-input">
                  </div>
                </div>
                <div class="layui-form-item">
                  <label class="layui-form-label">项目描述</label>
                  <div class="layui-input-inline">
                    <textarea name="project-desc" cols="30" rows="6" placeholder="请输入..." />
                  </div>
                </div>
              </div>
          `
          ,area: ['450px', '300px']
          ,btn: ['确定', '取消']
          ,yes: function(index, layero){
            var othis = layero.contents().find("#layuiadmin-app-form-project")
            ,projectName = othis.find('input[name="project-name"]').val()
            ,projectDesc = othis.find('textarea[name="project-desc"]').val();
            if(!projectName.replace(/\s/g, '')) return;

            func.ajaxPost({
                url: "/project/add",
                data: {
                  'name': projectName,
                  'desc': projectDesc
                },
                success: function(res){
                    console.log('add res', res)
                    table.reload('LAY-app-content-project');
                    layer.close(index);
                }
            })

          }
        }); 
      }
    }  
    $('.layui-btn.layuiadmin-btn-project').on('click', function(){
      var type = $(this).data('type');
      active[type] ? active[type].call(this) : '';
    });

    table.on('tool(LAY-app-content-project)', function(obj){
        console.log("table obj", obj)
        if(obj.event === 'info'){
          // 跳转至项目详情页
        }
    });

    //监听单元格编辑
    table.on('edit(LAY-app-content-project)', function(obj){
      var value = obj.value //得到修改后的值
      ,data = obj.data //得到所在行所有键值
      ,field = obj.field; //得到字段
        data[field] = value
        func.ajaxPost({
            url: '/project/upd',
            data: data,
            success: function(res){
                layer.msg('更新成功', {
                    offset: '15px'
                  });
            }
        })
    });
  });
  </script>
{% endblock %}
